<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://industrialdigitaltwin.org/"><img src="{{uiRootPath}}/img/idta-logo.png" alt="{{site.title}}" height="45"</a>
      <a class="navbar-item title" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if env.SITE_SEARCH_PROVIDER}}
	        <div class="navbar-item search hide-for-print">
	          <div id="search-field" class="field has-filter">
	            <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
	            <label class="filter checkbox">
	              <input type="checkbox" data-facet-filter="component:{{page.component.name}}"> In this project
	            </label>
	          </div>
	        </div>
	      {{/if}}
      <a class="navbar-item spec" href="https://rwth-iat.github.io/aas-specs-antora">AAS Specification</a>
      <a class="navbar-item sub" href="https://rwth-iat.github.io/submodel-templates-antora">Submodel Templates</a>
      <a class="navbar-item" href="https://industrialdigitaltwin.org/en/contact">Contact</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Follow us</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.linkedin.com/company/industrial-digital-twin-association/">LinkedIn</a>
            <a class="navbar-item" href="https://www.youtube.com/channel/UCvYk-bRkF9-x0HdpJfEcV7g">YouTube</a>
          </div>
        </div>
      <a class="navbar-item" href="https://github.com/admin-shell-io">Source</a>
      <button type="button" id="themeSwitch" class="hidden sm:block stroke-white fill-white {{#if noSearch}}sm:ml-auto{{/if}}">
	        <span class="dark:hidden">
	          <svg viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
	            <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
	    	<path d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836"></path>
	          </svg>
	        </span>
	        <span class="hidden dark:inline">
	          <svg viewBox="0 0 512 512" class="w-4 h-4">
	            <path d="M421.6 379.9c-.6641 0-1.35 .0625-2.049 .1953c-11.24 2.143-22.37 3.17-33.32 3.17c-94.81 0-174.1-77.14-174.1-175.5c0-63.19 33.79-121.3 88.73-152.6c8.467-4.812 6.339-17.66-3.279-19.44c-11.2-2.078-29.53-3.746-40.9-3.746C132.3 31.1 32 132.2 32 256c0 123.6 100.1 224 223.8 224c69.04 0 132.1-31.45 173.8-82.93C435.3 389.1 429.1 379.9 421.6 379.9zM255.8 432C158.9 432 80 353 80 256c0-76.32 48.77-141.4 116.7-165.8C175.2 125 163.2 165.6 163.2 207.8c0 99.44 65.13 183.9 154.9 212.8C298.5 428.1 277.4 432 255.8 432z"/>
                  </svg>
	        </span>
	    </button>
    </div>
  </nav>
</header>
